@font-face {
    font-family: 'FuenteSpider';
    src: url('./assets/fonts/2.ttf') format('truetype');
}

@font-face {
    font-family: 'FuenteSpider2';
    src: url('./assets/fonts/1.ttf') format('truetype');
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1a1a1a;
}

.bgcards1 {
    background-color: #0b2f51;
}

.bgcards2 {
    background-color: #801010;
}

.barra {
    background-color: #e01313;
}

.titulo {
    font-family: 'FuenteSpider';
    font-size: 5em;
}

.adaptaciones-titulo {
    font-family: 'FuenteSpider2';
    font-size: 1.7em;
    color: #f9ec00;
}

.interlineado {
    line-height: 3;
}

.inter2 {
    line-height: 2;
}

.licencia {
    font-size: 0.8em;
    background-color: #121212;
    color: #ffffff7c;
}

.licencia a {
    color: #ffffff7c;
    text-decoration: none;
}

.licencia a:hover {
    color: #ffffff;
}

.quote {
    font-style: italic;
    font-size: 1.6em;
}

.footer {
    background-color: #000000;
    color: #ffffff;
}

.prueba {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0; scale: 10%;
    }
    to {
        opacity: 1; scale: 100%;
    }
}

.principal {
    display: grid;
    padding-block: 128px;
    place-content: center;
    gap: 8px;
}

/* CSS para iconos de las redes sociales del footer. Diseño inspirado en la web: uiverse.io */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

/* Menú hamburguesa. Diseño inspirado en la web: uiverse.io */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 1.5em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Galería */
.galeria img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.03
    );
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Estilos para la galería de personajes*/
article {
    position: relative;
    width: 250px;
    transition: all .3s ease;
}

article img:first-child {
    box-shadow: 0 60px 60px -60px #001eff80;
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}   

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0) 100%
    );
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}