@font-face {
    font-family: 'FuenteSpider';
    src: url('./assets/fonts/2.ttf') format('truetype');
}

@font-face {
    font-family: 'FuenteSpider2';
    src: url('./assets/fonts/1.ttf') format('truetype');
}

body {
    background-color: #1a1a1a;
}

.barra {
    background-color: #e01313;
}

.titulo {
    font-family: 'FuenteSpider';
    font-size: 5em;
}

.adaptaciones-titulo {
    font-family: 'FuenteSpider2';
    font-size: 2em;
    color: #f9ec00;
}

.interlineado {
    line-height: 3;
}

.inter2 {
    line-height: 2;
}